@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,400italic,700italic);

body {
  font-family: "Source Sans Pro",Arial,Helvetica,sans-serif;
  padding-top: 50px;
}

md-card {
  margin: auto;/*
  margin-top: 20px;
  margin-bottom: 20px;*/
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}



.navbar {
  position: fixed !important;
  height: 51px;
  z-index:1000; 
}

.content {
  padding-top: 51px
}