<div>
	<div layout="row">
		<div flex="50" layout="column">
			<!-- Title -->
			<div id="tourTitle"> {{tour.Title}} </div>
			<div id="tourSubtitle"> {{tour.Description}} </div>
			<div> {{tour.Subtitle}} </div>
			<div id="playlist" flex="75">
				<!-- Playlist -->
				<md-content>
					<md-card ng-repeat="audio in audioList" ng-click="selectEntry(audio)" ngStyle="">
						<md-card-content>
							<div layout="row">
								<div id="rank" class="md-headline">{{$index+1}} </div>


								<div id="audioText" layout="column">
									<div><i>{{audio.Title}}</i>, {{audio.Year}}</div>
									<div>{{audio.Artist}}</div>
									<md-icon md-svg-src="./icons/ic_play_arrow_black_24px.svg" id="nowPlaying" ng-show="audio.show || false"></md-icon>
								</div>
								<div>
									<img ng-src="{{audio.Image_URL}}" class="md-card-image" id="audiotourImg">
								</div>
							</div>
						</md-card-content>
					</md-card>
				</md-content>
			</div>

			<div flex = "25">
				<!-- audioplayer -->
				<md-progress-linear id = "progress" md-mode="determinate" value="{{value || 0}}"></md-progress-linear>

				<p style="text-align:left;"> {{time}} <span style="float:right;"> {{time_remaining}}</span></p>
				<md-icon id="play" class = "size-48 center" md-svg-src="{{buttonSrc.playPause}}" ng-click="playPauseAudio(work)"> Play </md-icon>
				<md-slider-container id="volumeSlider">
					<md-icon id="volume" md-svg-src="./icons/ic_volume_up_black_24px.svg"></md-icon>
					<md-slider min="0" max="100" ng-model="volVal"></md-slider>
				</md-slider-container>
			</div>
		</div>
		<md-divider></md-divider>
		<div flex="50">
			<div layout="row" layout-align="center center">
	          	<canvas id="Canvas" width="586" height="970" usemap="#andersonmap">
	        </div>
		</div>
	</div>
</div>