<div>
	<md-content>
		<md-card>

			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{work.title}}</span>
					<span class="md-subhead">{{work.subtitle}}</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<img ng-src="{{work.image_file_name}}" class="md-card-image">
			</md-card-content>

			<md-progress-linear id = "progress" md-mode="determinate" value="{{value}}"></md-progress-linear>

			<p> {{time}} <span> {{time_remaining}}</span></p>
			<md-icon id="play" md-svg-src="{{buttonSrc.playPause}}" ng-click="playPauseAudio(work)"> Play </md-icon>
			<md-slider-container id="volumeSlider">
				<md-icon id="volume" md-svg-src="./icons/ic_volume_up_black_24px.svg"></md-icon>
				<md-slider min="0" max="100" ng-model="volVal"></md-slider>
			</md-slider-container>
			


		</md-card>
	</md-content>

	
</div>