h2 {
	color: #000000;
}
h3 {
	color: #000000;
}

/*#title {
  position: absolute;
  font-size: 52px;
  -webkit-transform: rotate(90deg);
  top: 270px;
  left: -280px;
  width: 600px;
  height: 100px;
  z-index: 1;
  color: #FFFFFF;
}*/