h2 {
	color: #000000;
  word-wrap: break-all;
  white-space: normal;
  text-align: left;
}
h3 {
	color: #000000;
  word-wrap: break-all;
  white-space: normal;
  text-align: left;
}

.md-button {
  color: white;
  text-transform: none;
}

.md-title {
  color: white;
  font-weight: light;
  font-size: 28px;
}

.main-page-content {
  vertical-align: middle;
}

.main-page-card {
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0);
}


.main-page-button:link {
  font-size: 28px;
  color: white;
}

.md-title {
  text-align: center;
}


.main-right-image {
  float: right;
  margin: 0 0 0 0;
}

.main-left-image {
  float: left;
}


md-content {
  background-color: transparent;
}
