<div class="mpage">
	<md-content class="main-page-content">
		<md-card class="main-page-card">
			<md-card-header>
				<md-card-header-text>
					<span class="md-title">Welcome to the Anderson Collection.</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-title>
				<md-card-title-text>
					<md-button class="main-page-button" ng-href="#tours">
						<!-- <img src="http://www.birdsinbackyards.net/sites/www.birdsinbackyards.net/files/factsheets/images/hero/405_61_emu.jpg" -->
						Tours
					</md-button>
					<md-button class="main-page-button" ng-href="#map">Map </md-button>
					<md-button class="main-page-button" ng-href="#collections">Collections </md-button>
				</md-card-title-text>
			</md-card-title>
		</md-card>
	</md-content>

	
</div>