<div class="mpage">
	<md-content class="main-page-content">
		<md-card class="main-page-card">
			<md-card-header>
				<md-card-header-text>
					<span class="md-title">
						Welcome to the Anderson Collection.
						Choose an option below.
					</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-title>
			    <md-card-title-text layout="row" layout-align="center center">
					<md-button layout="column" layout-align="center center" class="main-page-button" ng-href="#tours">
						<img style="padding:5px;" src="http://www.birdsinbackyards.net/sites/www.birdsinbackyards.net/files/factsheets/images/hero/405_61_emu.jpg">
						<div>Tours</div>
					</md-button>
					

					<md-button layout="column" layout-align="center center" class="main-page-button" ng-href="#map">
						<img style="padding:5px;" src="http://www.birdsinbackyards.net/sites/www.birdsinbackyards.net/files/factsheets/images/hero/405_61_emu.jpg">
						<div>Map</div>
					</md-button>

					<md-button layout="column" layout-align="center center" class="main-page-button" ng-href="#collections">
						<img style="padding:5px;" src="http://www.birdsinbackyards.net/sites/www.birdsinbackyards.net/files/factsheets/images/hero/405_61_emu.jpg">
						<div>Collections</div>
					</md-button>
			    </md-card-title-text>
			</md-card-title>
		</md-card>
	</md-content>


	<img id="main-image" src="/components/main/images/andersonstairs.jpg" alt="Anderson Stairs" style="width:200px;height:130px;">

	<h1>86 artists | 121 modern and contemporary American paintings and sculptures</h1>
	<h2>Audio Tour</h2>
	<h3>for first time visitors</h3>
	<h2>Map</h2>
	<h3>permanent and temporary collections</h3>
	<h2>Collections</h2>
	<h3>by location, artist, or movement</h3>


	
</div>