<div class="mpage">
	<md-content layout-gt-sm="row" layout="column" class="main-page-content">
		<md-card id = "main-card" class="main-page-card">
			<!-- <div id="title">Welcome to the Anderson</div> -->
			<img id="main-image" ng-src="components/main/images/andersonstairs.jpg" alt="Anderson Stairs">
			
			<md-card-header-text style="margin: 20px">
				<h2>A Modern and Contemporary Art Museum</h2>
				<h3>Pick an option to explore...</h3>
			</md-card-header-text>

		</md-card>
		<md-card id = "menu-card" class="main-page-card">
			<md-card-content>
				<md-button layout="row" layout-align="start center" class="main-page-button" ng-href="#tours">
					<img class = "main-page-sidebar-img" src="components/main/images/tourthumb.jpg">
					<md-card-header>
						<md-card-header-text layout-align="start start">
							<h2>Audio Tours</h2>
							<h3>for first time viewers</h3>
						</md-card-header-text>
					</md-card-header>
				</md-button>

				<md-button layout="row" layout-align="start center" class="main-page-button" ng-href="#map">
					<img class = "main-page-sidebar-img" src="components/main/images/mapthumb.jpg">
					<md-card-header>
						<md-card-header-text layout-align="start start">
							<h2>Map</h2>
							<h3>explore the gallery</h3>
						</md-card-header-text>
					</md-card-header>
				</md-button>

				<md-button layout="row" layout-align="start center" class="main-page-button" ng-href="#collections">
					<img class = "main-page-sidebar-img" src="components/main/images/collectthumb.jpg">
					<md-card-header>
						<md-card-header-text layout-align="start start">
							<h2>Collections</h2>
							<h3>by location, artist, or movement</h3>
						</md-card-header-text>
					</md-card-header>
				</md-button>
			</md-card-content>
		</md-card>
	</md-content>
</div>