h2 {
	color: #000000;
  word-wrap: break-all;
  white-space: normal;
  text-align: left;
}
h3 {
	color: #000000;
  word-wrap: break-all;
  white-space: normal;
  text-align: left;
}

.md-button {
  color: white;
  text-transform: none;
}

.md-title {
  color: white;
  font-weight: light;
  font-size: 28px;
}

.main-page-content {
  vertical-align: middle;
}

.main-page-card {
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
}
#main-card {
  width: 60vw;
  height: 100vh;
}
#menu-card {

  height: 100vh;
}

.main-page-sidebar-img {
  width:15vw;
  height:15vw;
  padding:5px
}
 

 @media all and (orientation:portrait) {
  /* Style adjustments for landscape mode goes here */
  #main-card {
    width: 100vw;
  }
  .main-page-sidebar-img {
    width:50vw;
    height:auto;
    padding:5px
  }

}

.main-page-button:link {
  font-size: 28px;
  color: white;
}

.md-title {
  text-align: center;
}


.main-right-image {
  float: right;
  margin: 0 0 0 0;
}

.main-left-image {
  float: left;
}


md-content {
  background-color: transparent;
}

