<!-- <div>
	<md-content>
		<md-card>
			<md-card-title>
				<md-card-title-text>
					<md-button ng-href="#main">Welcome </md-button>
				</md-card-title-text>
			</md-card-title>
		</md-card>
	</md-content>

	
</div> -->

<!-- <h2>Introduction</h2>
<p>
 There are several good reasons for taking
 <i>CS142: Web Applications</i>:
</p>
<ul>
 <li>
You will learn a variety of interesting concepts.
 </li>
 <li>
It may inspire you to change the way software is developed.
 </li>
 <li>
It will give you the tools to become fabulously wealthy.
 </li>
</ul> -->


<!DOCTYPE html>
<html>
	<style>
		body {
			background-image: linear-gradient(30deg, rgba(256, 256, 256, 0.8), rgba(256, 256, 256, 0), rgba(256, 256, 256, 0)), url("/components/splash/images/Stanford-Anderson1.jpg");
			background-repeat: no-repeat;
			background-position: center;
		}
	</style>
	<body>
		<a ng-href="#/main">
			<img id="logo" ng-src="components/splash/images/andersonlogo.png" alt="Anderson Collection Logo" style="width:200px;height:130px;">
			<div id="swipe">
				<img id="triangle" ng-src="components/splash/images/logo-shape-top-11-crop.png" alt="Right border decoration" style="width:300px;height:700px;">
				<div id="title">
					Welcome
					<div style="font-size: 18px; color: rgb(140, 21, 21)"> Click here to enter... </div>
				</div>
			</div>
		</a>
	</body>
</html>
