<!-- <div>
	<md-content>
		<md-card>
			<md-card-title>
				<md-card-title-text>
					<md-button ng-href="#main">Welcome </md-button>
				</md-card-title-text>
			</md-card-title>
		</md-card>
	</md-content>

	
</div> -->

<!-- <h2>Introduction</h2>
<p>
 There are several good reasons for taking
 <i>CS142: Web Applications</i>:
</p>
<ul>
 <li>
You will learn a variety of interesting concepts.
 </li>
 <li>
It may inspire you to change the way software is developed.
 </li>
 <li>
It will give you the tools to become fabulously wealthy.
 </li>
</ul> -->


<!DOCTYPE html>
<html>
	<body>
		<div id="floating-title">Welcome</div>
		
		<img src="/components/splash/images/andersonlogo.png" alt="Anderson Collection Logo" style="width:200px;height:130px;">
	</body>
</html>
