

<!DOCTYPE html>
<html>
	<style>
		body {
			background-image: linear-gradient(30deg, rgba(256, 256, 256, 0.8), rgba(256, 256, 256, 0), rgba(256, 256, 256, 0)), url("/components/splash/images/Stanford-Anderson1.jpg");
			background-repeat: no-repeat;
			background-position: left;
		}
	</style>
	<body>
		<a ng-href="#/main">
			<img id="logo" ng-src="components/splash/images/andersonlogo.png" alt="Anderson Collection Logo" style="width:200px;height:130px;">
			<div id="swipe">
				<img id="triangle" ng-src="components/splash/images/logo-shape-top-11-crop.png" alt="Right border decoration" style="width:300px;height:700px;">
				<div id="title">
					Welcome
					<div style="font-size: 18px; color: rgb(140, 21, 21)">      click here to enter... </div>
				</div>
			</div>
		</a>
	</body>
</html>
