body {
  -webkit-transform: translate3d(0,0,0)
}

#main {
  position: fixed;
  bottom: 0;
  right: 0;
}

#logo {
  position: fixed;
  bottom: 15px;
  left : 15px;
}

#triangle {
  position: fixed;
  top: 0;
  right: 0;
}

#title {
  position: fixed;
  font-size: 52px;
  top: 180px;
  right: 20px;
  width: 200px;
  height: 100px;
}

#floating-title {
  position: absolute;
  top: 100px;
  left: 100px;
}
.floating-title {
  display: inline-block;
  float: right;
  font-family: "Source Sans Pro", Times, sans-serif;

}

#anderson-brand {
  font-weight: bold;
  color: #8c1515;
}

#home-highlight {
  background-color: #777;
}

.navbar {
  background-color: #eee;
}

.navbar .nav > li > a {
	color: #827252;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
	color: #8c1515;
}



/*<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>*/
/*body,h1 {font-family: "Source Sans Pro", sans-serif}
body, html {height: 100%}
.bgimg {
	background-image: url('http://events.stanford.edu/events/622/62281/62281-1.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}*/
/*</style>
<body>*/

/*<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">Welcome</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-right">slide to begin</p>

    <img src="andersonlogo.png" style="width:100%">
  </div>
</div>

</body>
</html>*/













