body {
  /*-webkit-transform: translate3d(0,0,0)*/
}

#main {
  position: fixed;
  bottom: 0;
  right: 0;
}

#logo {
  position: fixed;
  bottom: 15px;
  left : 15px;
}

#triangle {
  position: fixed;
  top: 0;
  right: 0;
}

#title {
  position: fixed;
  font-size: 52px;
  top: 180px;
  right: 20px;
  width: 200px;
  height: 100px;
}

#floating-title {
  position: absolute;
  top: 100px;
  left: 100px;
}
.floating-title {
  display: inline-block;
  float: right;
  font-family: "Source Sans Pro", Times, sans-serif;

}

#anderson-brand {
  font-weight: bold;
  color: #8c1515;
}

#home-highlight {
  background-color: #777;
}

.navbar {
  background-color: #eee;
}

.navbar .nav > li > a {
	color: #827252;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
	color: #8c1515;
}