<div>

	<md-grid-list layout-fill flex
		md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="3"
		md-row-height-gt-md="1:1" md-row-height="2:2"
		md-gutter="12px" md-gutter-gt-sm="8px" >

		<md-grid-tile ng-repeat="work in workList">
			<md-card layout-fill>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">{{work.Title}}</span>
						<span class="md-subhead">{{work.Artist}}</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<img id="list" ng-src="{{work.Image_URL}}" class="md-card-image center">
				</md-card-content>
				
			</md-card>
		</md-grid-tile>

	</md-grid-list>
	<!-- <md-content>
		<md-card ng-repeat="work in workList">
			<a ng-href="#work/{{work._id}}">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{work.Title}}</span>
					<span class="md-subhead">{{work.Artist}}</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<img id="list" ng-src="{{work.Image_URL}}" class="md-card-image center">
			</md-card-content>
			</a>
		</md-card>
	</md-content>	 -->

</div>