a:hover, a:visited, a:link, a:active {
	text-decoration: none;
	color: #000000;
}

#worklist {
	max-height: 75vh;
	overflow: scroll;
	display:block;
	margin-bottom: 125px;
}

img#list {
	display: block;
    margin: auto;
    width: 60%;
    height: auto;
}

@media only screen and (min-width: 768px) {
	img#list {
		display: block;
	    margin: auto;
	    max-width: 500px;
	    height: auto;
	}
}

#audioplayer {
   position:fixed;
   bottom:0;
   width:100%;
   height: 125px;
   background-color: white;
}

