a:hover, a:visited, a:link, a:active {
	text-decoration: none;
	color: #000000;
}


img#list {
	display: block;
    margin: auto;
    max-width: 333px;
    height: auto;
}

@media only screen and (min-width: 768px) {
	img#list {
		display: block;
	    margin: auto;
	    max-width: 500px;
	    height: auto;
	}
}

