<div>
	<md-content>
		<md-card>
			<md-card-title>
				<md-card-title-text>
				I am a map

				<img src="/images/map/map_floor2.jpg"  width="586" height="970" usemap="#andersonmap">
				<!-- Use image-maps.com to make map-->
				<map name="andersonmap">
					<area shape="rect" coords="0,0,100,100" ng-href="#area/contemp">
					<map name="andersonmap">
					<area shape="poly" coords="74,733,59,883,224,907,225,733" alt="Image Map" ng-href="#area/contemp">

				</map>
				</map>
				<!-- <md-button ng-href="#area/contemp">Contemporary Art </md-button>
 -->
				</md-card-title-text>
			</md-card-title>
		</md-card>
	</md-content>

	
</div>