<div>
	<md-content>
		<md-card>
			<md-card-title>
				<md-card-title-text>


				<!-- <md-button ng-href="#area/contemp">Contemporary Art </md-button>
 -->

				</md-card-title-text>
			</md-card-title>
			<md-content>
    <md-tabs md-center-tabs="true" md-selected=1 md-dynamic-height md-border-bottom>
      <md-tab label="Level 1">
        <md-content class="md-padding">
          <div layout="row" layout-align="center center">
          <img class="map-img" src="images/map/Map Floor 1.jpg"  width="586" height="970" usemap="#andersonmap">
           </md-content>
      </md-tab>
      <md-tab label="Level 2">
        <md-content class="md-padding">
          <div layout="row" layout-align="center center">
          <img class = "map-img" src="images/map/map_floor2.jpg"  width="586" height="970" usemap="#andersonmap">
          </md-content>
      </md-tab>

				<!-- Use image-maps.com to make map-->
				<map name="andersonmap">
   					<area alt="" title="" ng-href="#/area/SW" shape="poly" coords="45,70,137,55,143,91,207,94,205,303,144,300,141,227,76,223" />
				    <area alt="" title="" ng-href="#/area/W" shape="poly" coords="219,226,393,235,387,84,219,84" />
				    <area alt="" title="" ng-href="#/area/NW" shape="poly" coords="393,82,405,307,459,308,455,235,515,234,523,46,435,46,425,74" />
				    <area alt="" title="" ng-href="#/area/200" shape="poly" coords="71,307,76,366,233,368,237,475,320,472,357,910,385,914,343,371,519,375,523,316" />
				    <area alt="" title="" ng-href="#/area/208" shape="poly" coords="73,367,75,500,229,508,228,379" />
				    <area alt="" title="" ng-href="#/area/207" shape="poly" coords="80,504,75,628,227,632,227,516" />
				    <area alt="" title="" ng-href="#/area/206" shape="poly" coords="73,631,57,803,121,806,127,751,224,754,225,639" />
				    <area alt="" title="" ng-href="#/area/205" shape="poly" coords="56,815,45,911,143,920,149,892,224,908,225,762,133,759,125,818" />
				    <area alt="" title="" ng-href="#/area/201" shape="poly" coords="357,382,368,503,517,511,515,390" />
				    <area alt="" title="" ng-href="#/area/202" shape="poly" coords="368,514,387,631,531,630,520,519" />
				    <area alt="" title="" ng-href="#/area/203" shape="poly" coords="376,639,385,744,539,748,525,638" />
				    <area alt="" title="" ng-href="#/area/204" shape="poly" coords="484,754,495,828,389,828,391,922,495,935,504,962,548,956,535,751" />
				</map>
		</md-card>
	</md-content>

	
</div>